.sale-page-top {
  // .main-heading
  .main-heading {
    background: url(../images/pc/bg_h1.png) no-repeat;
    background-position: center 27px;
    background-size: 1407px 514px;
    padding-top: 88px;
    margin-bottom: 76px;
    img {
      width: 421px;
      margin: 0 auto;
    }
    .text {
      display: block;
      @include fs(26);
      font-weight: 800;
      color: #fff;
      margin-top: 71px;
      text-align: center;
    }
  }

  // Section Content
  .sec-item {
    &:not(:first-of-type) {
      margin-top: 70px;
    }
    &--t-shirt {
      .sec-item{
        &__heading {
          .text {
            border-bottom: 1px solid #196bf5;
          }
        }
        &__swiper {
          .swiper-button-prev,
          .swiper-button-next {
            background-color: #196bf5;
          }
          .swiper-pagination {
            &-bullet-active {
              background-color: #196bf5;
            }
          }
        }
      }
    }
    &--casual-fashion {
      .sec-item{
        &__heading {
          .text {
            border-bottom: 1px solid #7030a0;
          }
        }
        &__swiper {
          .swiper-button-prev,
          .swiper-button-next {
            background-color: #7030a0;
          }
          .swiper-pagination {
            &-bullet-active {
              background-color: #7030a0;
            }
          }
        }
      }
    }
    &--shoes {
      .sec-item{
        &__heading {
          .text {
            border-bottom: 1px solid #039314;
          }
        }
        &__swiper {
          .swiper-button-prev,
          .swiper-button-next {
            background-color: #039314;
          }
          .swiper-pagination {
            &-bullet-active {
              background-color: #039314;
            }
          }
        }
      }
    }
    &--fashion-items {
      .sec-item{
        &__heading {
          .text {
            border-bottom: 1px solid #c70bc0;
          }
        }
        &__swiper {
          .swiper-button-prev,
          .swiper-button-next {
            background-color: #c70bc0;
          }
          .swiper-pagination {
            &-bullet-active {
              background-color: #c70bc0;
            }
          }
        }
      }
    }
    &--summer-goods {
      .sec-item{
        &__heading {
          .text {
            border-bottom: 1px solid #d77400;
          }
        }
        &__swiper {
          .swiper-button-prev,
          .swiper-button-next {
            background-color: #d77400;
          }
          .swiper-pagination {
            &-bullet-active {
              background-color: #d77400;
            }
          }
        }
      }
    }
    &__wrap {
      padding-bottom: 120px;
    }
    &__heading {
      width: 540px;
      margin: 0 auto 47px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 23px;
      }
      .text {
        display: block;
        width: fit-content;
        margin: 0 auto;
        @include fs(19);
        font-weight: 500;
        color: #231f20;
        text-align: center;
        padding: 0 5px;
      }
    }
    &__swiper {
      width: 971px;
      margin: 0 auto;
      position: relative;
      .swiper {
        &-slide {
          width: 185px;
          border: 1px solid #b0b0b0;
          border-radius: 5px;
          overflow: hidden;
        }
        .logo {
          width: 100%;
          height: 54px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 50%;
            height: auto;
          }
        }
        .image {
          display: flex;
          background-color: #fff;
          height: 245px;
          padding: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-button-prev,
        &-button-next {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          opacity: 0.8;
          &::after {
            @include fs(20);
            color: #fff;
          }
        }
        &-button-prev {
          left: -20px;
        }
        &-button-next {
          right: -20px;
        }
        &-pagination {
          display: none;
        }
      }
    }
  }

  // Modal Popup
  .modal {
    &.is-show {
      opacity: 1;
      visibility: visible;
    }
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    &-wrap {
      position: relative;
    }
    &-content {
      background: #fff;
      padding: 40px;
      width: 972px;
      height: auto;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    &-info {
      flex: 1;
    }
    &-logo {
      width: 168px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-image {
      width: 400px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name {
      margin-bottom: 30px;
      span {
        font-family: "Zen Kaku Gothic New", sans-serif;
        display: block;
        font-weight: 700;
        @include fs(22);
        line-height: 1.4;
        letter-spacing: .03em;
        color: #030101;
      }
      .en {
        font-weight: 500;
        color: #606060;
      }
    }
    &-description {
      p {
        &:not(:first-of-type) {
          margin-top: 20px;
        }
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 500;
        @include fs(18);
        letter-spacing: .03em;
        color: #030101;
      }
    }
    .close-btn {
      width: 39px;
      height: 39px;
      position: absolute;
      top: -50px;
      right: 0;
      border: none;
      background: none;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: calc(100% + 12px);
        background-color: #fff;
      }
      &::before {
        transform: translateY(-6px) rotate(45deg);
      }
      &::after {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  // .about-product
  .about-product {
    width: 761px;
    margin: 0 auto 120px;
    &__title {
      font-family: "Zen Kaku Gothic New", sans-serif;
      @include fs(20);
      font-weight: 700;
      color: #4c4c4c;
      letter-spacing: 0.03em;
      line-height: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 29px;
      &::after {
        display: inline-block;
        content: '';
        width: 553px;
        height: 2px;
        background-color: #888888;
      }
    }
    &__list {
      &-item {
        &:not(:first-child) {
          margin-top: 7px;
        }
        font-family: "Zen Kaku Gothic New", sans-serif;
        @include fs(15);
        color: #4c4c4c;
        letter-spacing: 0.03em;
      }
    }
  }

  // .box-banners
  .box-banners {
    width: 971px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    &__item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@include pcmiddle() {
  .sale-page-top {
    // .main-heading
    .main-heading {
      background-position: center get_pcvw(27);
      background-size: get_pcvw(1407) get_pcvw(514);
      padding-top: get_pcvw(88);
      margin-bottom: get_pcvw(76);
      img {
        width: get_pcvw(421);
      }
      .text {
        margin-top: get_pcvw(71);
      }
    }

    // Section Content
    .sec-item {
      &__heading {
        width: get_pcvw(540);
        margin: 0 auto get_pcvw(47);
        img {
          margin-bottom: get_pcvw(23);
        }
        .text {
          padding: 0 get_pcvw(5);
        }
      }
      &__swiper {
        width: get_pcvw(971);
        .swiper {
          &-slide {
            width: get_pcvw(185);
          }
          .logo {
            width: 100%;
            height: get_pcvw(54);
          }
          .image {
            height: get_pcvw(245);
            padding: get_pcvw(10);
          }
          &-button-prev,
          &-button-next {
            width: get_pcvw(45);
            height: get_pcvw(45);
          }
          &-button-prev {
            left: get_pcvw(-20);
          }
          &-button-next {
            right: get_pcvw(-20);
          }
        }
      }
    }

    // Modal Popup
    .modal {
      &-content {
        padding: get_pcvw(40);
        width: get_pcvw(972);
      }
      &-inner {
        gap: get_pcvw(30);
      }
      &-logo {
        width: get_pcvw(168);
      }
      &-image {
        width: get_pcvw(400);
      }
      &-name {
        margin-bottom: get_pcvw(30);
      }
      &-description {
        p {
          &:not(:first-of-type) {
            margin-top: get_pcvw(20);
          }
        }
      }
      .close-btn {
        width: get_pcvw(39);
        height: get_pcvw(39);
        top: get_pcvw(-50);
        &::before,
        &::after {
          height: calc(100% + calc(12 / 1440) * 100vw);
          background-color: #fff;
        }
        &::before {
          transform: translateY(-0.00416666666 * 100vw) rotate(45deg);
        }
        &::after {
          transform: translateY(-0.00416666666 * 100vw) rotate(-45deg);
        }
      }
    }

    // .about-product
    .about-product {
      width: get_pcvw(761);
      margin-bottom: get_pcvw(120);
      &__title {
        margin-bottom: get_pcvw(29);
        &::after {
          width: get_pcvw(553);
          height: get_pcvw(2);
        }
      }
      &__list {
        &-item {
          &:not(:first-child) {
            margin-top: get_pcvw(7);
          }
        }
      }
    }

    // .box-banners
    .box-banners {
      width: get_pcvw(971);
      margin: 0 auto;
      gap: get_pcvw(40);
    }
  }
}

@include mobile() {
  .sale-page-top {
    // .main-heading
    .main-heading {
      background: url(../images/mobile/bg_h1.png) no-repeat;
      background-position: center get_vw(-35);
      background-size: get_vw(640) get_vw(642);
      padding-top: get_vw(144);
      padding-bottom: get_vw(23);
      margin-bottom: get_vw(255);
      img {
        width: get_vw(421);
        margin: 0 auto;
      }
      .text {
        @include fsvw(26);
        margin-top: get_vw(63);
      }
    }

    // Section Content
    .sec-item {
      &:not(:first-of-type) {
        margin-top: get_vw(162);
      }
      &__heading {
        width: get_vw(540);
        margin: 0 auto get_vw(47);
        img {
          margin-bottom: get_vw(23);
        }
        .text {
          @include fsvw(19);
          padding: 0 get_vw(5);
        }
      }
      &__swiper {
        width: 100%;
        padding-left: get_vw(30);
        padding-right: get_vw(30);
        .swiper {
          &-slide {
            width: auto;
          }
          .logo {
            height: get_vw(54);
          }
          .image {
            height: get_vw(245);
            padding: get_vw(10);
          }
          &-button-prev,
          &-button-next {
            width: get_vw(58);
            height: get_vw(58);
            &::after {
              @include fsvw(20);
            }
          }
          &-button-prev {
            left: get_vw(10);
          }
          &-button-next {
            right: get_vw(10);
          }
          &-pagination {
            display: block;
            bottom: get_vw(-80);
            &-bullet {
              width: get_vw(33);
              height: get_vw(33);
              margin: 0 get_vw(8);
            }
          }
        }
      }
    }

    // Modal Popup
    .modal {
      --spacing: calc(40/640 * 100vw);
      --spacing2: calc(12/640 * 100vw);
      --spacing3: calc(-6/640 * 100vw);

      &-content {
        width: calc(100% - var(--spacing));
        height: 75vh;
        padding: get_vw(20) get_vw(20) get_vw(40) get_vw(20);
        overflow-y: scroll;
        margin: 0 auto;
      }
      &-inner {
        flex-direction: column;
        gap: 0;
      }
      &-logo {
        width: get_vw(168);
      }
      &-image {
        width: get_vw(400);
        margin: 0 auto get_vw(45);
      }
      &-name {
        margin-bottom: get_vw(30);
        span {
          @include fsvw(22);
        }
      }
      &-description {
        p {
          &:not(:first-of-type) {
            margin-top: get_vw(20);
          }
          @include fsvw(18);
        }
      }
      .close-btn {
        width: get_vw(39);
        height: get_vw(39);
        position: absolute;
        top: get_vw(-50);
        right: get_vw(20);
        &::before,
        &::after {
          content: '';
          display: inline-block;
          width: 1px;
          height: calc(100% + var(--spacing2));
          background-color: #fff;
        }
        &::before {
          transform: translateY(var(--spacing3)) rotate(45deg);
        }
        &::after {
          transform: translateY(var(--spacing3)) rotate(-45deg);
        }
      }
    }

    // .about-product
    .about-product {
      width: 100%;
      padding-left: get_vw(20);
      padding-right: get_vw(20);
      margin-bottom: get_vw(120);
      &__title {
        @include fsvw(20);
        margin-bottom: get_vw(29);
        &::after {
          width: get_vw(400);
          height: get_vw(2);
        }
      }
      &__list {
        &-item {
          &:not(:first-child) {
            margin-top: get_vw(7);
          }
          @include fsvw(15);
        }
      }
    }

    // .box-banners
    .box-banners {
      width: 100%;
      padding-left: get_vw(20);
      padding-right: get_vw(20);
      grid-template-columns: repeat(1, 1fr);
      gap: get_vw(30);
    }
  }
}