/*---------------------------------------------------------------------------*\
  $SETTING
\*---------------------------------------------------------------------------*/
/**
 * COLOR..........................カラー情報
 */

/*---------------------------------------------------------------------------*\
  $COLOR
\*---------------------------------------------------------------------------*/
/* キーカラー
--------------------------------------------------------------------- */
$color--key: #9f005b;
$color--deluxe: #d30c37;
$color--prj: #b60014;
$color--vivid: #cc0000;
$color--cool: #0099ff;
$color--bright: #e6003e;
$color--gray: #ccc;
$color--link: #7f7f7f;