/*---------------------------------------------------------------------------*\
  $SETTING
\*---------------------------------------------------------------------------*/
/**
 * @@@DEVICE
 * NOTO-FONT
 * LAYOUT-TYPE
 * RESPONSIBLE
 * COMMON-PATH
 * SITE-WIDTH
 * BREAKPOINT
 */

/*---------------------------------------------------------------------------*\
  $DEVICE
\*---------------------------------------------------------------------------*/
// $device:"layout/pc/_import";
$device: sp;

/*---------------------------------------------------------------------------*\
  $FONT
\*---------------------------------------------------------------------------*/
// $device:"layout/pc/_import";
// $device: sp;

/*---------------------------------------------------------------------------*\
  $NOTO-FONT
\*---------------------------------------------------------------------------*/
$font_noto: true;

/*---------------------------------------------------------------------------*\
  $RESPONSIBLE
\*---------------------------------------------------------------------------*/
$responsible: false;

/*---------------------------------------------------------------------------*\
  $COMMON-PATH
\*---------------------------------------------------------------------------*/
$assetsDir : "/_assets";
$cssDir: "#{$assetsDir}/css";
$imgDir: "#{$assetsDir}/images";
$fontDir: "#{$assetsDir}/fonts";

/*---------------------------------------------------------------------------*\
  $SITE-WIDTH
\*---------------------------------------------------------------------------*/
$site-base-width: 100%;

/*---------------------------------------------------------------------------*\
  $BREAKPOINT
\*---------------------------------------------------------------------------*/
$portable: 641px;
$portableMax: $portable - 1;
$pc: 1440px;
$pcvw:  (100vw/1440);
$spvw:  (100vw/640);