/*---------------------------------------------------------------------------*\
  About Product
\*---------------------------------------------------------------------------*/
.about-product {
  width: 761px;
  margin: 0 auto 120px;
  &__title {
    font-family: "Zen Kaku Gothic New", sans-serif;
    @include fs(20);
    font-weight: 700;
    color: #4c4c4c;
    letter-spacing: 0.03em;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
    &::after {
      display: inline-block;
      content: '';
      width: 553px;
      height: 2px;
      background-color: #888888;
    }
  }
  &__list {
    &-item {
      &:not(:first-child) {
        margin-top: 7px;
      }
      font-family: "Zen Kaku Gothic New", sans-serif;
      @include fs(15);
      color: #4c4c4c;
      letter-spacing: 0.03em;
    }
  }

  @include pcmiddle() {
    width: get_pcvw(761);
    margin-bottom: get_pcvw(120);
    &__title {
      margin-bottom: get_pcvw(29);
      &::after {
        width: get_pcvw(553);
        height: get_pcvw(2);
      }
    }
    &__list {
      &-item {
        &:not(:first-child) {
          margin-top: get_pcvw(7);
        }
      }
    }
  }

  @include mobile() {
    width: 100%;
    padding-left: get_vw(40);
    padding-right: get_vw(40);
    margin-bottom: get_vw(76);
    &__title {
      @include fsvw(20);
      margin-bottom: get_vw(20);
      &::after {
        width: get_vw(365);
        height: get_vw(2);
      }
    }
    &__list {
      &-item {
        &:not(:first-child) {
          margin-top: get_vw(5);
        }
        @include fsvw(22);
      }
    }
  }
}