/*---------------------------------------------------------------------------*\
  $EXTEND
\*---------------------------------------------------------------------------*/
%width-1440 {
  width: 100%;
  max-width: 1440px;
}
%img-100 {
  line-height: 0;
  img {
    width: 100%;
    height: auto;
  }
}
%bg-text {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
%bg-img {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}