/*---------------------------------------------------------------------------*\
  $EXTEND
\*---------------------------------------------------------------------------*/
%width-1440 {
  width: 100%;
  max-width: 1440px;
}
%img-100 {
  line-height: 0;
  img {
    width: 100%;
    height: auto;
  }
}
%bg-text {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
%bg-img {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*---------------------------------------------------------------------------*\
  Custom .contents
\*---------------------------------------------------------------------------*/
.sale-2024--special {
  .contents {
    &.contents--wide {
      max-width: none;
      background-image: url(../images/pc/bg_01.png);
      background-color: #d1f2fb;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100%;
    }
  }
}

@include pcmiddle() {
  .sale-2024--special {
    .contents {
      &.contents--wide {
        background-position: center top 40px;
      }
    }
  }
}

@include mobile() {
  .sale-2024--special {
    .contents {
      &.contents--wide {
        background-image: url(../images/mobile/bg_01.png);
        background-position: center top get_vw(85);
      }
    }
  }
}